/***** STYLISATION DE BASE *****/

html {
    font-size: 15px;
    body {
    // Prévoir une police de caractères
}
}



ul {
    list-style-type: none;
    li {
        margin-bottom: 0.5rem;
    }
}

